<div id="menu_container">
	<div id="menu">
		<ul>
			<li><%= link_to 'Cadets', cadets_path %></li>
			<li><%= link_to 'Awards', awards_path %></li>
			<li><%= link_to 'Ribbons', ribbons_path %></li>
			<li><%= link_to 'Events', events_path %></li>
		</ul>
	</div>
</div>