body{
  font-family: "Lucida Grande", Sans-Serif; 
  color: #272F32;
  margin: 0;
  padding: 0;
  background-color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.page_links {
	float: right;
}

table.minimal {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin: 14px 0px;
}

table.minimal th {
  color: #1E2324;
  font-size: 1.2em;
  padding: 10px 8px;
  border-bottom: 2px solid #1A1F1F;
  text-align: left;
}

table.minimal td {
  padding: 6px 8px;
  border-bottom: 1px solid #A19F9A;
}

table.minimal img {
  display: inline-block;
  vertical-align: middle;
}

table.minimal tr:hover td{
	color: #004;
	background-color: #DBE1E8;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#header {
  background-image: url('../images/camo-gradient.png');
  background-repeat: repeat-x;
  height: 110px;
}

#header h1{
  display: inline-block;
  margin: 0;
  padding: 0;
  background-image: url('../images/JROTC-Manage.png');
  background-repeat: no-repeat;
  height: 75px;
  background-position: -5px top;
  text-indent: -1000em;
  width: 420px;
}

#header a{
  text-decoration: none;
}

#header_container {
  margin: 0 auto;
  padding: 20px 0px;
  width: 800px;
}

#menu_container{
  background-image: url('../images/menu-gradient.png');
  background-repeat: repeat-x;
  height: 30px;
  border-top: 1px solid #000;
}

/*Menu code*/

#menu 
{
	/*
	-moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;*/
    text-align: center;
	width: 880px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	/*
	background: #303333;
	*/
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}


#menu li {
	float: left;
}

#menu a {
	display: block;
	color: black;
	width: 120px;
	height: 25px;
	padding-top: 5px;
	border-right: 1px solid #FFFFFF;
	text-decoration: none;
	text-align: center;
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	/*-moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;*/
	color: white;
	background-color: black;
	text-decoration: none;
}

#container {
  /*width: 75%;*/
  display: block;
  width: 800px;
  min-height: 400px;
  margin: 0 auto 20px auto;
  background-color: #FFFFFF;
  padding: 10px 40px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 7px 7px 8px #222;
  -webkit-box-shadow: 7px 7px 8px #222;
  -moz-box-shadow: 7px 7px 8px #222;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#222, offX=7, offY=7, positive=true);
}

#footer {
  margin: 15px;
  border-top: 2px solid gray;
  text-align: center;
}

#footer img{
	display: inline-block;
	vertical-align: middle;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}