<h2>JROTC Manage</h2>

<p>An open-source management application for Junior Reserve Officers' Training Corps units.</p>

<p>When completed, the JROTC Manage system will track:</p>

<ul>
	<li>cadets</li>
	<li>events</li>
	<li>ribbons</li>
	<li>awards</li>
	<li>PRT</li>
	<li>advancements (including tests)</li>
</ul>

<p>JROTC Manage has many benefits over the traditional systems in place, most of which are derived from the ability of cadets to be able to easily view what has been recorded for them.</p>

<p>Currently, many units track event and ribbon data with spreadsheets or paper forms. Methodologies which can easily lead to errors or inaccountability.</p>

<h3>Current status</h3>

<p>The application is currently in a <strong>prototyping</strong> stage and does not fully address the scope of managing cadets, ribbons, or events. The system will soon have authentication required in order to minimize junk data.</p>

<p>By the end of Summer 2011, we plan to have the system managing cadet, event, ribbon, and award data. All other features will be on hold or in a prototyping / experimental phase. The system is planned to be trial tested as a management system by one unit. The trial will be extended to other units after the initial trial period.</p>

<p>The system will most likely not be under active development during the academic school year, but patches will be issued and support will be available to quickly resolve problems.</p>