<p>Proof of concept management application for Troy High School NJROTC.</p>

<p>Application link: <a href="http://jrotcmanage.heroku.com">http://jrotcmanage.heroku.com</a></p>

<p>Application Entity-Relationship Diagram: 
<a href="http://www.gliffy.com/publish/2588747/">http://www.gliffy.com/publish/2588747/</a></p>

<p>Unit homepage: <a href="http://njrotc.troyhigh.com">http://njrotc.troyhigh.com</a></p>
