<p>Proof of concept management application for Troy High School NJROTC.</p>

<p>Application link: <a target="_blank" href="http://jrotcmanage.heroku.com">http://jrotcmanage.heroku.com</a></p>

<p>Source code: <a target="_blank" href="https://github.com/trogrey121/JROTC_Manage">https://github.com/trogrey121/JROTC_Manage</a></p>

<p>Application Entity-Relationship Diagram: 
<a target="_blank" href="http://www.gliffy.com/publish/2588747/">http://www.gliffy.com/publish/2588747/</a></p>

<p>Unit homepage: <a target="_blank" href="http://njrotc.troyhigh.com">http://njrotc.troyhigh.com</a></p>
